<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <h2>File upload form</h2>
  <form [formGroup]="fileForm" (ngSubmit)="saveFileInfo()">
    <div class="form-group">
      <label for="myFile">File:</label>
      <input type="file" class="form-control" (change)="handleFileInput($event)" name="file">
    </div>
    <div class="form-group">
      <label for="pwd">Alt Text:</label>
      <input type="text" class="form-control" formControlName="altText" placeholder="Enter alternate text" name="altText">
    </div>
    <div class="form-group">
      <label for="pwd">Description:</label>
      <input type="text" class="form-control" formControlName="description" placeholder="Enter description" name="description">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    </div>
  </div>
</div>